<!-- Maven settings used by internal Business Automation test suites to override user.home/.m2/settings.xml. -->
<settings>


  <mirrors>
    <mirror>
      <id>mirror-central</id>
      <mirrorOf>external:*</mirrorOf>
      <url>http://bxms-qe.rhev-ci-vms.eng.rdu2.redhat.com:8081/nexus/content/groups/public</url>
    </mirror>
  </mirrors>

  <profiles>
    <profile>
      <id>repository-for-snapshots</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <!-- M2 Central repository with snapshots enabled - required to be able to resolve snapshots via mirror -->
      <repositories>
        <repository>
          <id>central</id>
          <name>Central Repository</name>
          <url>http://repo.maven.apache.org/maven2</url>
          <layout>default</layout>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <releases>
            <enabled>true</enabled>
          </releases>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <name>Central Repository</name>
          <url>http://repo.maven.apache.org/maven2</url>
          <layout>default</layout>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <releases>
            <enabled>true</enabled>
          </releases>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>

</settings>
